<a href="https://colab.research.google.com/github/vsolodkyi/RecSystem_SkillBox/blob/main/module_1/Skillbox_recsys_13_final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Рекомендательная система на библиотеке surprise 2

Сайт библиотеки: http://surpriselib.com/

Установки библиотеки:
```
$ pip install scikit-surprise```

In [1]:
!pip install scikit-surprise

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting scikit-surprise
  Downloading scikit-surprise-1.1.1.tar.gz (11.8 MB)
     |████████████████████████████████| 11.8 MB 4.5 MB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.1.0)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.21.6)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.7.3)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.15.0)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.1-cp37-cp37m-linux_x86_64.whl size=1633958 sha256=df9853575cc2b5220a2efdeb32b1e5dcf0c95d19adda17426023b931e8f5a510
  Stored in directory: /root/.cache/pip/wheels/76/44/74/b498c42be47b2406bd27994e16c5188e337c657025ab400c1c
Successfully built scikit-surprise
Installing collected packages: scikit-surprise
Successfully installed scikit-surprise-1.1.1

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("recdemo.csv", sep=";") #небольшой dataset

In [4]:
df

   id    A    B    C    D    E    F
0   1  3.0  4.0  2.0  4.0  1.0  NaN
1   2  3.0  4.0  2.0  4.0  NaN  2.0
2   3  NaN  2.0  5.0  5.0  NaN  5.0
3   4  NaN  NaN  NaN  NaN  4.0  NaN
4   5  3.0  NaN  2.0  4.0  4.0  NaN
5   6  NaN  5.0  5.0  5.0  NaN  5.0
6   7  1.0  NaN  NaN  2.0  NaN  3.0
7   8  NaN  NaN  NaN  NaN  4.0  4.0

In [5]:
df_unpivot=pd.melt(df, id_vars=['id'])
df_unpivot.head()

   id variable  value
0   1        A    3.0
1   2        A    3.0
2   3        A    NaN
3   4        A    NaN
4   5        A    3.0

In [6]:
df_unpivot.dropna(inplace=True)
df_unpivot.columns=['userID', 'itemID', 'rating']

In [7]:
from surprise import Dataset
from surprise import Reader

In [8]:
reader = Reader(rating_scale=(1, 5)) # Зададим разброс оценок
data = Dataset.load_from_df(df_unpivot[['userID', 'itemID', 'rating']], reader) #создадим объект, с которым умеет работать библиотека

In [9]:
trainset = data.build_full_trainset()
testset = trainset.build_anti_testset()

In [10]:
from surprise import KNNBaseline

In [11]:
algo = KNNBaseline(k=3, verbose=False)
algo.fit(trainset)
predictions = algo.test(testset)

In [12]:
df_predict=pd.DataFrame(columns=['userID', 'itemID', 'rating'])
df_unpivot3 = df_unpivot.copy()
for i in predictions:
    df_unpivot3 = df_unpivot3.append({'userID':i.uid, 'itemID': i.iid, 'rating': i.est}, ignore_index=True)
    df_predict = df_predict.append({'userID':i.uid, 'itemID': i.iid, 'rating': i.est}, ignore_index=True)
df_unpivot3.pivot(index='userID', columns='itemID', values='rating')

itemID         A         B         C         D         E         F
userID
1       3.000000  4.000000  2.000000  4.000000  1.000000  2.507435
2       3.000000  4.000000  2.000000  4.000000  2.601745  2.000000
3       3.256100  2.000000  5.000000  5.000000  3.527693  5.000000
4       3.083864  4.197382  2.083864  4.083864  4.000000  3.976639
5       3.000000  3.834977  2.000000  4.000000  4.000000  3.013312
6       3.418235  5.000000  5.000000  5.000000  3.590444  5.000000
7       1.000000  3.366011  1.857717  2.000000  3.095321  3.000000
8       2.579863  3.471928  3.463240  4.463240  4.000000  4.000000

In [13]:
df_predict_pivot=df_predict.pivot(index='userID', columns='itemID', values='rating')
df_predict_pivot

itemID         A         B         C         D         E         F
userID
1            NaN       NaN       NaN       NaN       NaN  2.507435
2            NaN       NaN       NaN       NaN  2.601745       NaN
3       3.256100       NaN       NaN       NaN  3.527693       NaN
4       3.083864  4.197382  2.083864  4.083864       NaN  3.976639
5            NaN  3.834977       NaN       NaN       NaN  3.013312
6       3.418235       NaN       NaN       NaN  3.590444       NaN
7            NaN  3.366011  1.857717       NaN  3.095321       NaN
8       2.579863  3.471928  3.463240  4.463240       NaN       NaN

In [14]:
df_predict_pivot.idxmax(axis=1)

userID
1    F
2    E
3    E
4    B
5    B
6    E
7    B
8    D
dtype: object

In [15]:
algo = KNNBaseline(k=4, sim_options = {'user_based': False }, verbose=False)
algo.fit(trainset)

predictions = algo.test(testset)

In [16]:
df_predict=pd.DataFrame(columns=['userID', 'itemID', 'rating'])
for i in predictions:
    df_predict = df_predict.append({'userID':i.uid, 'itemID': i.iid, 'rating': i.est}, ignore_index=True)

In [17]:
df_predict_pivot2=df_predict.pivot(index='userID', columns='itemID', values='rating')
df_predict_pivot2

itemID         A         B         C         D         E         F
userID
1            NaN       NaN       NaN       NaN       NaN  2.212165
2            NaN       NaN       NaN       NaN  2.290988       NaN
3       3.858465       NaN       NaN       NaN  4.678967       NaN
4       3.818825  4.122894  3.956402  4.261502       NaN  4.155852
5            NaN  3.337475       NaN       NaN       NaN  3.311002
6       4.698465       NaN       NaN       NaN  4.870350       NaN
7            NaN  1.789695  2.155844       NaN  2.383400       NaN
8       3.740899  4.021251  3.835183  4.150897       NaN       NaN

In [18]:
df_predict_pivot.idxmax(axis=1)

userID
1    F
2    E
3    E
4    B
5    B
6    E
7    B
8    D
dtype: object

## Ранговые метрики

## NDSG

In [19]:
from sklearn.metrics import ndcg_score

In [20]:

true_relevance = np.asarray([[10, 0, 0, 1, 5]])
scores = np.asarray([[.1, .2, .3, 4, 70]])
ndcg_score(true_relevance, scores)

0.6956940443813076

In [21]:
scores = np.asarray([[.05, 1.1, 1., .5, .0]])
ndcg_score(true_relevance, scores) # doctest: +ELLIPSIS

0.493680191377376

In [22]:
ndcg_score(true_relevance, scores, k=4)

0.3520241100634488

## Top-K

In [23]:
data = Dataset.load_builtin('ml-100k')

Dataset ml-100k could not be found. Do you want to download it? [Y/n] y
Trying to download dataset from http://files.grouplens.org/datasets/movielens/ml-100k.zip...
Done! Dataset ml-100k has been saved to /root/.surprise_data/ml-100k

In [24]:
from surprise.model_selection import train_test_split

In [25]:
trainset, testset = train_test_split(data, test_size=.30) #разоббем выборку на обучение и тест

In [26]:
algo = KNNBaseline(k=20, verbose=False)
predictions = algo.fit(trainset).test(testset)

In [27]:
df_ratings=pd.DataFrame(columns=['userID', 'itemID', 'rating', 'real_rating'])
for i in predictions:
    #if int(i.uid)==833:
    df_ratings = df_ratings.append({'userID':i.uid, 'itemID': i.iid, 'rating': i.est, 'real_rating': i.r_ui}, ignore_index=True)

In [28]:
user456=df_ratings[df_ratings.userID=='456']

In [29]:
def Precision_at_n(df_ratings, n=3, threshold=5):
    rel_n = set(df_ratings[df_ratings.real_rating>=threshold]['itemID'])
    t=df_ratings.sort_values(by='rating', ascending=False)[0:n]
    ret_n=set(t['itemID'])
    return len(rel_n & ret_n)/n

In [30]:
def Avg_Precision_at_n(df_ratings, n=10,threshold=5):
    avg_p=0
    rel_n = set(df_ratings[df_ratings.real_rating>=threshold]['itemID'])
    
    for i in range(1,n+1):
        t=df_ratings.sort_values(by='rating', ascending=False)[0:i]
        ret_n=set(t['itemID'])
        t2=df_ratings.sort_values(by='rating', ascending=False)[i-1:i]
        ret_n2=set(t2['itemID'])
        #print(ret_n2,ret_n)
        if len((ret_n2 & rel_n))>0:
            avg_p=avg_p+len(rel_n & ret_n)/n
    return avg_p/n

In [31]:
for i in [3,4,7,12,14]:
    print(i,Precision_at_n(user456,i))

3 0.0
4 0.0
7 0.14285714285714285
12 0.08333333333333333
14 0.07142857142857142

In [32]:
for i in [3,4,7,12,14]:
    print(i,Avg_Precision_at_n(user456,i))

3 0.0
4 0.0
7 0.02040816326530612
12 0.006944444444444444
14 0.00510204081632653

## Задание:
1. Написать функцию recall@n, MAP
2. Найдите precision@n, recall@n (при n=5). Для пользователя с id 643 алгоритмом kNN с k=30
3. Найдите MAP для  kNN (k=20).

In [42]:
def Recall_at_n(df_ratings, n=3, threshold=5):
  rel_n = set(df_ratings[df_ratings.real_rating >= threshold]['itemID'])
  t = df_ratings.sort_values(by='rating', ascending=False)[0:n]
  ret_n = set(t['itemID'])
  return len(rel_n & ret_n) / len(set(rel_n))

In [49]:
def MAP_at_n(df_ratings_all, n=10, threshold=5):
  users = df_ratings_all['userID'].unique()
  map_at_n=0
  for i in users:
    df_ratings = df_ratings_all[df_ratings_all.userID==i]
    map_at_n = map_at_n + Avg_Precision_at_n(df_ratings, n=n, threshold=threshold)
  
  return map_at_n/len(users)

## Найдите precision@n, recall@n (при n=5). Для пользователя с id 643 алгоритмом kNN с k=30

In [36]:
data = Dataset.load_builtin('ml-100k')
trainset, testset = train_test_split(data, test_size=0.3)
algo = KNNBaseline(k=30, verbsoe=False)
predictions = algo.fit(trainset).test(testset)

Estimating biases using als...
Computing the msd similarity matrix...
Done computing similarity matrix.

In [ ]:
df_ratings=pd.DataFrame(columns=['userID', 'itemID', 'rating', 'real_rating'])
for i in predictions:
    #if int(i.uid)==833:
    df_ratings = df_ratings.append({'userID':i.uid, 'itemID': i.iid, 'rating': i.est, 'real_rating': i.r_ui}, ignore_index=True)

In [37]:
df_ratings.head()

  userID itemID    rating  real_rating
0    297     83  3.960861          4.0
1    940     98  4.250550          4.0
2    413    936  4.399187          4.0
3    913     96  3.682781          5.0
4    901    172  4.519910          5.0

In [38]:
Precision_at_n(df_ratings, 5, 5)

0.6

In [43]:
Recall_at_n(df_ratings, 5, 5)

0.003374578177727784

### Найдите MAP для kNN (k=20).

In [50]:
data = Dataset.load_builtin('ml-100k')
trainset, testset = train_test_split(data, test_size=0.3)
algo = KNNBaseline(k=20, verbsoe=False)
predictions = algo.fit(trainset).test(testset)

Estimating biases using als...
Computing the msd similarity matrix...
Done computing similarity matrix.

In [51]:
df_ratings=pd.DataFrame(columns=['userID', 'itemID', 'rating', 'real_rating'])
for i in predictions:
    #if int(i.uid)==833:
    df_ratings = df_ratings.append({'userID':i.uid, 'itemID': i.iid, 'rating': i.est, 'real_rating': i.r_ui}, ignore_index=True)

In [52]:
MAP_at_n(df_ratings)

0.09300106044538772