<a href="https://colab.research.google.com/github/vsolodkyi/RecSystem_SkillBox/blob/main/module_2/Skillbox_recsys_22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Рекомендательная система на библиотеке surprise (Практика 2)

В этом практическом задании вы будете работать с набором данных 

```data = Dataset.load_builtin('ml-100k')```

Это тот же датасет, с которым вы уже работали в предыдущем модуле.

### Что нужно сделать:

1. Разбейте пользователей на 2 группы: на тестовую - туда нужно отобрать всех пользователей у которых строго меньше 30 оценок; и обучающую - туда добавьте всех оставльных пользователей. 
Будем считать, что пользователи, у которых мало оценок, являются новыми.

2. Реализуйте алгоритм для рекомендации фильмов пользователю, а также попробуйте решить проблему холодного старта двумя способами. 
* Считать средние оценки для всех фильмов и рекомендовать топ-5 фильмов
* Считать средние оценки фильмов, для которых поставлено строго больше четырёх оценок, и рекомендовать топ-5 фильмов

Для какого подхода метрика map@5 для окажется лучше?

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
!pip install surprise

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting surprise
  Downloading surprise-0.1-py2.py3-none-any.whl (1.8 kB)
Collecting scikit-surprise
  Downloading scikit-surprise-1.1.1.tar.gz (11.8 MB)
     |████████████████████████████████| 11.8 MB 8.5 MB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.1.0)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.21.6)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.7.3)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.15.0)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.1-cp37-cp37m-linux_x86_64.whl size=1633984 sha256=a2c69b974786cc695b047cf13d70e52afd389e4382d6cc781578f9dc624f915a
  Stored in directory: /root/.cache/pip/wheels/76/44/74/b498c42be47b2406bd27994e16c5188e337c657025ab400c1c
Successfully built scikit-surprise
Installing collected packages: scikit-surprise, surprise
Successfully installed scikit-surprise-1.1.1 surprise-0.1

In [ ]:
from surprise import Dataset
from surprise import Reader

In [ ]:
data = Dataset.load_builtin('ml-100k') #загружаем данные о фильмах

Dataset ml-100k could not be found. Do you want to download it? [Y/n] y
Trying to download dataset from http://files.grouplens.org/datasets/movielens/ml-100k.zip...
Done! Dataset ml-100k has been saved to /root/.surprise_data/ml-100k

In [ ]:
df = pd.DataFrame(data.__dict__['raw_ratings'], columns=['user_id','item_id','rating','timestamp'])

In [ ]:
df.head()

  user_id item_id  rating  timestamp
0     196     242     3.0  881250949
1     186     302     3.0  891717742
2      22     377     1.0  878887116
3     244      51     2.0  880606923
4     166     346     1.0  886397596

In [ ]:
df_users = df.groupby('user_id')['item_id'].agg('count').reset_index()

In [ ]:
df_users['is_test'] = df_users['item_id'].apply(lambda x: 1 if x < 30 else 0)

## 2. Реализуйте алгоритм для рекомендации фильмов пользователю, а также попробуйте решить проблему холодного старта двумя способами.

## - Считать средние оценки для всех фильмов и рекомендовать топ-5 фильмов
## - Считать средние оценки фильмов, для которых поставлено строго больше четырёх оценок, и рекомендовать топ-5 фильмов

In [ ]:
tec_df = df.groupby('item_id')['rating'].agg(['mean', 'count']).sort_values(by='mean', ascending=False).reset_index()

In [ ]:
avg_all = tec_df[['item_id', 'mean']].head(5)

In [ ]:
avg_more4 = tec_df[tec_df['count'] > 4][['item_id', 'mean']].head(5)

In [ ]:
print(avg_all)
print(avg_more4)

  item_id  mean
0    1500   5.0
1    1293   5.0
2    1189   5.0
3    1653   5.0
4    1467   5.0
   item_id      mean
10    1449  4.625000
15     408  4.491071
16     318  4.466443
17     169  4.466102
18     483  4.456790